@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: hsla(0, 0%, 16%, 1);
    --foreground: hsla(0, 0%, 100%, 1);

    --muted: hsl(210 40% 96.1%);
    --muted-foreground: hsl(215.4 16.3% 46.9%);

    --popover: hsl(0 0% 100%);
    --popover-foreground: hsl(222.2 47.4% 11.2%);

    --border: hsl(214.3 31.8% 91.4%);
    --input: hsl(14.3 31.8% 91.4%);

    --card: hsl(0 0% 100%);
    --card-foreground: hsl(222.2 47.4% 11.2%);

    --primary: hsla(40, 63%, 82%, 1);
    --primary-foreground: hsl(210 40% 98%);

    --secondary: hsla(135, 37%, 48%, 1);
    --secondary-foreground: hsl(222.2 47.4% 11.2%);

    --accent: hsla(135, 37%, 48%, 1);
    --accent-foreground: hsl(222.2 47.4% 11.2%);

    --destructive: hsla(8, 71%, 54%, 1);
    --destructive-foreground: hsl(210 40% 98%);

    --ring: hsl(215 20.2% 65.1%);

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: 'rlig' 1, 'calt' 1;
    font-family: 'SuisseIntl';
  }
}

/* Add additional font weights as needed */
@font-face {
  font-family: 'SuisseIntl';
  src: url('/src/assets/fonts/SuisseIntl-Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'SuisseIntl';
  src: url('/src/assets/fonts/SuisseIntl-BlackItalic.otf') format('opentype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'SuisseIntl';
  src: url('/src/assets/fonts/SuisseIntl-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'SuisseIntl';
  src: url('/src/assets/fonts/SuisseIntl-BoldItalic.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'SuisseIntl';
  src: url('/src/assets/fonts/SuisseIntl-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'SuisseIntl';
  src: url('/src/assets/fonts/SuisseIntl-LightItalic.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'SuisseIntl';
  src: url('/src/assets/fonts/SuisseIntl-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'SuisseIntl';
  src: url('/src/assets/fonts/SuisseIntl-MediumItalic.otf') format('opentype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'SuisseIntl';
  src: url('/src/assets/fonts/SuisseIntl-Regular.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'SuisseIntl';
  src: url('/src/assets/fonts/SuisseIntl-RegularItalic.otf') format('opentype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'SuisseIntl';
  src: url('/src/assets/fonts/SuisseIntl-Thin.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'SuisseIntl';
  src: url('/src/assets/fonts/SuisseIntl-ThinItalic.otf') format('opentype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'SuisseIntl';
  src: url('/src/assets/fonts/SuisseIntl-Ultralight.otf') format('opentype');
  font-weight: 50;
  font-style: normal;
}

@font-face {
  font-family: 'SuisseIntl';
  src: url('/src/assets/fonts/SuisseIntl-UltralightItalic.otf')
    format('opentype');
  font-weight: 50;
  font-style: italic;
}
